@font-face {
  font-family: "Dm Sans";
  src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  /* text styles */
  --font-primary: "DM Sans", serif;

  --font-size-large: 3.875rem; /* 62px */
  --font-size-medium: 2.5rem; /* 40px */
  --font-size-small: 2rem; /* 32px */
  --font-size-x-small: 1.125rem; /* 18px */

  --line-height-large: 0.935; /* 93.5% */
  --line-height-medium: 0.9; /* 90% */
  --line-height-small: 0.875; /* 87.5% */
  --line-height-x-small: 1.11; /* 111% */

  --letter-spacing-medium: -0.1875rem; /* -3px */
  --letter-spacing-small: -0.125rem; /* -2px */

  --font--weight-medium: 500;
}

/* ------------------------------
    RESER GLOBAL
  ------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------
   BASE STYLES
------------------------------ */
body {
    width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: var(--font-primary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1,
.audience-percent h2 {
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-medium);
  line-height: var(--line-height-large);
  font-weight: var(--font--weight-medium);
}
h2 {
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-medium);
  font-weight: var(--font--weight-medium);
}
h3 {
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-small);
  font-weight: var(--font--weight-medium);
}
p {
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-x-small);
  font-weight: 400;
}

.bento-grid {
  background: hsla(36, 100%, 79%, 0.645);
  width: 90%;
  max-width: 70rem;
  height: auto;
  max-height: 55rem;
  aspect-ratio: 16 / 9;
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule" /*  */
    "create-shedule create-shedule create-shedule inner inner inner inner inner inner shedule shedule shedule"
    "write-content write-content write-content inner inner inner inner inner inner shedule shedule shedule"
    "write-content write-content write-content inner inner inner inner inner inner shedule shedule shedule" /*  */
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers"
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers"
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers";
}

.bento-item {
  border: 2px solid #464545;
  border-radius: 5px;
}

.bento-grid .bento-item:nth-child(1) {
  grid-area: shedule;
}
.bento-grid .bento-item:nth-child(2) {
  grid-area: inner;
}
.bento-grid .bento-item:nth-child(3) {
  grid-area: grow-followers;
}
.bento-grid .bento-item:nth-child(4) {
  grid-area: audience-percent;
}
.bento-grid .bento-item:nth-child(5) {
  grid-area: social-media;
}
.bento-grid .bento-item:nth-child(6) {
  grid-area: write-content;
}
.bento-grid .bento-item:nth-child(7) {
  grid-area: create-shedule;
}

.bento-item:is(.create-shedule, .social-media, .shedule) {
  padding: 2rem; /* 32px */
}
.bento-item:is(.write-content, .audience-percent, .grow-followers),
.inner :where(.manage-multiple, .maintanin-consistent) {
  padding: 1.5rem; /* 24px */
}

.bento-item.inner {
  gap: 2rem; /* 32px */
}

.inner > div {
  border: 2px dashed #464545;
}

.bento-item,
.box {
  display: flex;
}
.bento-item:is(.create-shedule,.write-content,.audience-percent,.social-media,.shedule),
.box:is(.manage-multiple, .maintanin-consistent) {
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}

.image-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-relative img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

/* footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
} */

/* ------------------------------
   COMPONENTS
------------------------------ */
/* --------- create and shedule --------- */
.bento-item.create-shedule {
  justify-content: space-around;
}

/* --------- social media --------- */
.social-media {
  align-items: center;
  text-align: center;
}

.review {
  max-width: 13.95rem;
}

/* --------- inner container --------- */
/* ---- mange multiple ---- */
.manage-multiple {
  overflow: hidden;
}

.manage-multiple .image-relative {
  max-height: 4.125rem;
}

/* ---- maintanin shedule ---- */
.maintanin-consistent {
  overflow: hidden;
}

.maintanin-consistent .image-relative {
  min-height: -webkit-fill-available; /* problem here, seek alternative */
}

/* PROBLEM HERE */
.maintanin-consistent img {
  width: inherit;
  height: inherit;
}

/* --------- grow followers --------- */
.grow-followers {
  align-items: center;
}

/* --------- shedule social media --------- */
.shedule {
  overflow: clip;
  gap: 1.5rem;
}

.shedule .image-relative {
  min-height: 19.8rem;
}

/* ------------------------------
   RESPONSIVE DESIGN
------------------------------ */
