@font-face {
  font-family: "Dm Sans";
  src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
}

:root {
  /* text styles */
  --font-primary: "DM Sans", serif;

  --font-size-large: 3.875rem; /* 62px */
  --font-size-medium: 2.5rem; /* 40px */
  --font-size-small: 2rem; /* 32px */
  --font-size-x-small: 1.125rem; /* 18px */

  --line-height-large: 0.935; /* 93.5% */
  --line-height-medium: 0.9; /* 90% */
  --line-height-small: 0.875; /* 87.5% */
  --line-height-x-small: 1.11; /* 111% */

  --letter-spacing-medium: -0.1875rem; /* -3px */
  --letter-spacing-small: -0.125rem; /* -2px */

  --font--weight-medium: 500;

  --color-light-purple: hsl(254, 88%, 90%);
  --color-purple: hsl(256, 67%, 59%);
  --color-light-yellow: hsl(31, 66%, 93%);
  --color-yellow: hsl(39, 100%, 71%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 7%);
}

/* ------------------------------
    RESER GLOBAL
  ------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------
   BASE STYLES
------------------------------ */
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #f6f5f6;
  font-family: var(--font-primary);
}

main {
  padding-inline: clamp(40px, -160.5937px + 22.2635vi, 160px);
  padding-block-start: clamp(52px, 0.18px + 5.7514vi, 83px);
  padding-block-end: 65px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
.audience-percent h2 {
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-medium);
  line-height: var(--line-height-large);
  font-weight: var(--font--weight-medium);
}
h2 {
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-medium);
  font-weight: var(--font--weight-medium);
}
h3 {
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-small);
  line-height: var(--line-height-small);
  font-weight: var(--font--weight-medium);
}
p {
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-x-small);
  font-weight: 400;
}

.bento-grid {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule"
    "create-shedule create-shedule create-shedule social-media social-media social-media social-media social-media social-media shedule shedule shedule" /*  */
    "create-shedule create-shedule create-shedule inner inner inner inner inner inner shedule shedule shedule"
    "write-content write-content write-content inner inner inner inner inner inner shedule shedule shedule"
    "write-content write-content write-content inner inner inner inner inner inner shedule shedule shedule" /*  */
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers"
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers"
    "write-content write-content write-content audience-percent audience-percent audience-percent grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers";
}

.bento-item,
.box {
  border-radius: 0.625rem; /* 10px */
}

.bento-grid .bento-item:nth-child(1) {
  grid-area: shedule;
}
.bento-grid .bento-item:nth-child(2) {
  grid-area: inner;
}
.bento-grid .bento-item:nth-child(3) {
  grid-area: grow-followers;
}
.bento-grid .bento-item:nth-child(4) {
  grid-area: audience-percent;
}
.bento-grid .bento-item:nth-child(5) {
  grid-area: social-media;
}
.bento-grid .bento-item:nth-child(6) {
  grid-area: write-content;
}
.bento-grid .bento-item:nth-child(7) {
  grid-area: create-shedule;
}

.bento-item:is(.create-shedule, .social-media, .shedule) {
  padding: 2rem; /* 32px */
}
.bento-item:is(.write-content, .audience-percent, .grow-followers),
.inner :where(.manage-multiple, .maintanin-consistent) {
  padding: 1.5rem; /* 24px */
}

.bento-item.inner {
  gap: 2rem; /* 32px */
}

.bento-item,
.box {
  display: flex;
}
.bento-item:is(
    .create-shedule,
    .write-content,
    .audience-percent,
    .social-media,
    .shedule
  ),
.box:is(.manage-multiple, .maintanin-consistent) {
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  height: auto;
}

.image-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-relative img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.bento-item:is(.social-media, .grow-followers) {
  background-color: var(--color-purple);
  color: var(--color-white);
}
.write-content,
.maintanin-consistent {
  background-color: var(--color-yellow);
}
.create-shedule {
  background-color: var(--color-light-yellow);
}
.shedule {
  background-color: var(--color-light-purple);
}
.audience-percent,
.manage-multiple {
  background-color: var(--color-white);
}

/* footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
} */

/* ------------------------------
   COMPONENTS
------------------------------ */
/* --------- create and shedule --------- */
.bento-item.create-shedule {
  justify-content: space-around;
}
.create-shedule > h2 span:first-child {
  color: var(--color-purple);
  font-style: italic;
}
/* --------- social media --------- */
.bento-item.social-media {
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.social-media > h1 span:first-child {
  color: var(--color-yellow);
}
.social-media > h1 span:last-child {
  font-style: italic;
}
.review {
  max-width: 13.95rem;
}

/* --------- inner container --------- */
/* ---- mange multiple ---- */
.manage-multiple {
  overflow: hidden;
}

.manage-multiple .image-relative {
  max-height: 4.125rem;
}
.manage-multiple .image-relative img {
  object-fit: contain;
}

/* ---- maintanin shedule ---- */
.maintanin-consistent {
  overflow: hidden;
  row-gap: 1rem;
}

.maintanin-consistent .image-relative {
  min-height: -webkit-fill-available; /* problem here, seek alternative */
}

.maintanin-consistent img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

/* --------- grow followers --------- */
.grow-followers {
  align-items: center;
}

/* --------- shedule social media --------- */
.shedule {
  overflow: clip;
  gap: 1.5rem;
}

.shedule .image-relative {
  min-height: 19.8rem;
}

/* ------------------------------
   RESPONSIVE DESIGN
------------------------------ */
@media screen and (768px <= width <= 1024px) {
  :root {
    --font-size-large: 3.375rem; /* 54px */
    --font-size-medium: 2.25rem; /* 36px */
    --font-size-small: 1.75rem; /* 28px */
    --font-size-x-small: 1.125rem; /* 18px */
  }

  main {
    padding-inline: clamp(16px, -6.9008px + 6.1069vi, 40px);
    padding-block-start: clamp(32px, 12.916px + 5.0891vi, 52px);
    padding-block-end: clamp(40px, 5.9447px + 9.0814vi, 75.69px);
  }

  .bento-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 324px 247px 496px 246px 131px 354px;
    grid-template-areas:
      "social-media social-media social-media social-media social-media social-media social-media social-media"
      "inner inner inner inner inner inner inner inner"
      "shedule shedule shedule shedule shedule shedule shedule shedule"
      "grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers grow-followers"
      "audience-percent audience-percent audience-percent audience-percent audience-percent audience-percent audience-percent audience-percent"
      "create-shedule create-shedule create-shedule create-shedule write-content write-content write-content write-content";
  }

  /* --------- inner container TABLET --------- */
  /* ---- mange multiple TABLET ---- */
  .manage-multiple h3 {
    max-width: 14ch;
  }

  .box {
    flex: 1;
  }

  /* --------- shedule social media TABLET --------- */
  .shedule {
    align-items: center;
  }
  .shedule p {
    max-width: 28ch;
    text-align: center;
  }

  /* --------- grow followers TABLET --------- */
  .grow-followers h2 {
    max-width: 10ch;
  }

  /* --------- audience percent TABLET --------- */
  .bento-item.audience-percent {
    flex-direction: row;
  }
  .audience-percent img {
    width: inherit;
  }
}

@media screen and (width < 768px) {
  :root {
    --font-size-large: 2.875rem; /* 46px */
    --font-size-medium: 2rem; /* 32px */
    --font-size-small: 1.625rem; /* 26px */
    --font-size-x-small: 1rem; /* 16px */
  }

  .bento-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 290px 410px 468px 372px 215px 234px 350px;
    grid-template-areas:
      "social-media social-media social-media social-media"
      "inner inner inner inner"
      "shedule shedule shedule shedule"
      "grow-followers grow-followers grow-followers grow-followers"
      "audience-percent audience-percent audience-percent audience-percent"
      "create-shedule create-shedule create-shedule create-shedule"
      "write-content write-content write-content write-content";
  }

  /* --------- inner container MOBILE --------- */
  /* ---- mange multiple MOBILE ---- */
  .bento-item.inner {
    flex-direction: column;
  }
  .box {
    flex: 1;
  }
  .manage-multiple .image-relative img {
    position: static;
    width: 100%;
  }
  .manage-multiple {
    overflow: inherit;
  }
  .manage-multiple h3 {
    max-width: 100%;
  }

  /* ---- maintance multiple MOBILE ---- */
  .maintanin-consistent .image-relative img {
    block-size: inherit;
    width: auto !important;
  }
  .maintanin-consistent h3 {
    max-width: 12ch;
  }
  .maintanin-consistent .image-relative img {
    position: static;
    width: 100%;
    object-fit: contain;
  }

  /* --------- shedule social media MOBILE --------- */
  .shedule h2 {
    font-size: var(--font-size-small);
  }
  .shedule .image-relative {
    min-height: 0%;
  }
  .shedule img {
    transform: translate(0, 0);
    position: inherit;
    width: inherit;
    height: 100%;
  }

  /* --------- grow followers MOBILE --------- */
  .grow-followers {
    flex-direction: column;
    justify-content: space-between;
  }
  .grow-followers .image-relative {
    max-height: 12.5rem;
    text-align: center;
  }
  .grow-followers img {
    position: inherit;
  }
  .grow-followers h2 {
    max-width: 10ch;
    text-align: center;
  }

  /* --------- audience percent MOBILE --------- */
  .bento-item.audience-percent {
    flex-direction: column;
  }
  .audience-percent img {
    max-width: max-content;
    max-height: 4.125rem;
  }

  /* --------- create shedule MOBILE --------- */
  .create-shedule {
    gap: 1.5rem;
  }
  .create-shedule img {
    max-width: 11.87rem;
  }

  .write-content img {
    max-width: 13.68rem;
  }
}
